
<div style="overflow-y: scroll; height:400px;">
    <ul id = 'message_list'>
        {% for msg in messages %}
        {% if msg.sender == sender_email %}
        <li style="text-align: left"> 
            <font size = "4" color="red" >  {{ msg.message }}</font>
        </li>
        {% else %}
        <li style="text-align: right; align:right;"> 
            <font size = "4" color="green" > {{ msg.message }}</font>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
    
<br>

<div id = "para"  >
        <input type="text" id = "message_box" name="message"> <br>
        <input type="submit" name = "submit" id = "submit" value = "submit"  ><br>
</div>

<div style ="float:right">

    {% include "footer.html" %}
</div>
        <!-- <form action="/logout">
            <input type="submit" value="logout"><br>
        </form> -->
    <!-- </body> -->
    <!-- <script type="text/javascript" src="/js/jquery.min.js" ></script> -->
<script>
    var polling_for_message = "{{ message_id }}"; 
    var receiver_email = "{{ receiver_email }}"; 
    // var client_id = "{{ client_id }}";
    // var token = "{{ token }}"; 
    var sender = "{{ sender_email }}"; 

</script>

    <!-- ...............for polling with ajax use this script........ -->
    <script src="/js/msg_send.js"></script>
    <!-- ............script end here................... -->

    <!-- for channel use this script -->
    <!-- <script type="text/javascript" src="/_ah/channel/jsapi"></script> -->
    
    <!-- ........... script end here........................... -->
<!-- </html>