<html>
    <head>
        <title></title>
            <script type="text/javascript" src="/js/jquery.min.js" ></script>
            <!-- <script type="text/javascript" src="/js/msg_send.js" ></script> -->
            <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    </head>
    <body >
        <div id ="text">
            Welcome to chat !!!!!<br>
            Please select user <br>
            {% for friend in friends %}
                {{ friend.user_name }} 
                <button  name = "{{ friend.key.id }}"  id ='{{ friend.email }}' onclick = 'func("{{ friend.email }}") '> 
                            {{ friend.email }} 
                </button><br>
                    
            {% endfor %}
            <br>
            {% include "footer.html" %}
            <div id = "tab" >
            </div>
            <script type="text/javascript">
                var token = '{{ token }}';
                
            </script>
            
            <script type="text/javascript" src="/js/tokenchat.js"></script>
            <script type="text/javascript" src="/js/temp.js"></script>
            

        </div>
    </body>
</html>